/* -------
Note: I attempted to use the BEM (block__element--modifier) methodology (with varying degrees of success) 
in order to make the styles more modular, and thus portable to other projects without too many issues with 
inheritance. I'm not thrilled with the number of classes I had to use, but hopefully I'll have an easier 
time reusing and tweaking these styles for future iterations of my portfolio.
------- */

/* -------Font links------- */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab:wght@500&display=swap');


/* -------Box-sizing reset ------- */

* {
    box-sizing: border-box;
}


/* -------Page-level block------- */

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    background: rgb(238, 238, 238);
    background-image: url(images/crossword.png);
}

/* -------Layout------- */

.bg-color {
    background-image: url("images/sos.png");
    margin: 9px 0;
    padding-bottom: .5rem;
}

.wrapper {
    margin: 0;
    line-height: 2rem;
    padding: 0 .75rem 0 .75rem;
}

.group {
    display: flex;
    flex-direction: column;
}

.item-1 {
    flex: 1;
}

.item-2 {
    flex: 2;
}

.item-3 {
    flex: 3;
}

.reverse-item {
    order: 2
}

@media all and (min-width: 600px) {
    .wrapper {
        margin: 0 5%;
    }
}

@media all and (min-width: 800px) {
    .wrapper {
        margin: 0 10%;
    }

    .group {
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 0 -1rem;
    }

    .item-1,
    .item-2,
    .item-3 {
        margin: 0 1rem;
    }

    .reverse-item {
        order: -1;

    }
}


/* -------Links------- */

a:link {
    color: rgb(12, 165, 71);
}

a:visited {
    color: rgb(173, 167, 162);

}

a:hover {
    color: rgb(228, 119, 24);
    font-weight: 600;
    text-decoration: none;
}

a:active {
    color: rgb(255, 0, 0);
}


/* -------Primary header block------- */

.primary-header {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background-image: url(images/vintage-wallpaper.png);
}

.primary-header__title {
    color: #F9F9F9;
    font-size: 42px;
    margin: 0;
    padding: 1rem 0 0 0;
}

.primary-header__subtitle {
    color: #F9F9F9;
    font-size: 24px;
    margin: 0;
    padding: .5rem 0 .5rem 0;
}


/* -------Navigation------- */
.primary-header nav {
    display: flex;
    justify-content: center;
    margin: 0;
}

.primary-header nav ul {
    display: flex;
    margin: .20rem 0 .75rem 0;
    padding-inline-start: 0;
    flex-flow: row wrap;
    justify-content: center;
}

.primary-header nav ul li {
    list-style-type: none;
    margin: .5rem .5rem 0 .5rem;
}

.primary-header nav ul li a {
    font-family: 'Lato', sans-serif;
    color: #F9F9F9;
    text-decoration: none;
    font-weight: 600;
}

.primary-header nav ul li a:hover {
    color: rgb(228, 119, 24);
}

@media all and (min-width: 800px) {
    .primary-header {
        display: flex;
        justify-content: space-between;
    }

    .primary-header nav ul {
        margin: 0 .75rem 0 0;
        align-items: center;
    }

    .primary-header nav ul li {
        margin: 0 .5rem;
    }

    .primary-header__title {
        font-size: 36px;
        margin: 0;
        padding: 0;
    }

    .primary-header__subtitle {
        font-size: 24px;
        padding: .5rem 0 0 0;
        text-align: left;
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: .75rem 0 .75rem 1.25rem;
    }
}


/* -------Main content container------- */

.main {
    margin: 0 auto;
    padding: 0 0 1rem 0;
}

.main__profile-picture img {
    width: 100%;
    max-width: 550px;
    display: block;
    margin: 0 auto;
    padding: 0 0 .43rem 0;
    border-radius: 0px 0px 5% 5%;
}



@media all and (min-width: 800px) {
    .main {
        padding: 0;
    }

    .main__profile-picture {
        margin-top: 2.1rem;
        padding-bottom: 2rem;
    }

    .main__profile-picture img {
        border-radius: 5%;
    }
}

/* -------Section block-------*/

.section__heading {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    margin: 0;
    padding: 2rem 0 1.3rem 0;
}

.section__subheading {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding-top: .5rem;
}

.section__content__ul {
    list-style-type: none;
    padding-inline-start: 1rem;
    margin-top: 20px;
    margin-bottom: 0;
}

.section__content__ul li {
    margin: 0 0 .25rem 0;
    background-image: url("images/clock-bullet-transparent.png");
    background-repeat: no-repeat;
    background-position: .1rem .6rem;
    padding-left: 2rem;
}

.section__content__ol {
    margin: 0;
    padding: 0 0 0 1rem;
}

.section__content__ol h3 {
    font-size: 20px;
    margin: 0 0 .5rem 0;
}

.section__content__ol p {
    margin: 0 0 1rem 0;
    line-height: 2rem;
}

@media all and (min-width: 800px) {
    .section__content__ol {
        margin: 18px;
    }

    .section__content__ul {
        margin-bottom: 18px;
    }
}

/* -------Portfolio element-------  
Each project image will eventually link to a separate page that has more information about the project. */

header+p+h3,
div.group+h3 {
    text-align: center;
}

.section__portfolio {
    width: 100%;
    background-color: #2C3860;
    color: #F9F9F9;
    padding: .5rem .5rem;
    margin: 1rem 0 1rem 0;

    border-radius: 10px;
}

@media all and (min-width: 600px) {
    .section__portfolio {
        max-width: 70%;
        margin: 1.5rem auto;
    }
}

@media all and (min-width: 800px) {
    .section__portfolio {
        max-width: 100%;
    }
}

.section__portfolio__heading {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    margin: 0 0 .5rem 0;
    text-align: center;
}

.section__portfolio__image img {
    max-width: 100%;
}

.section__portfolio__description {
    font-size: 1rem;
    margin: 0;
    line-height: 1.5rem;
}


/* -------Contact block------- */

.section__contact__map {
    border: 2px solid #000;
    border-radius: 10px;
    line-height: 0;
}

.section__contact__map iframe {
    border-radius: 10px;
    width: 100%;
}

@media all and (min-width: 800px) {
    .section__contact__map {
        margin-bottom: 1.5rem;
    }
}

.section__contact__social {
    padding: .63rem 0 1rem 0;
}

.section__contact__social img {
    width: 4rem;
    height: auto;
    padding-top: 1rem;
    padding-right: 1rem;
}

/* -------Contact form------ */

form {
    margin: .5rem 0 2rem;
}

@media all and (min-width: 800px) {
    form {
        margin: 0 0 3rem;
        padding-top: .5rem;
    }
}

label {
    display: block;
    margin-bottom: .1rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color: gray;
}

form input[type="text"],
input[type="email"] {
    color: #000;
    font-family: inherit;
    font-size: 1rem;
    margin-bottom: .75rem;
    width: 100%;
}

form textarea {
    height: 5rem;
    width: 100%;
    color: #000;
    font-family: inherit;
    font-size: 1rem;
    margin-top: .3rem;
    margin-bottom: 1.2rem;
}

form button {
    padding: .5em 1em;
    border-radius: .25rem;
    border: solid 1px transparent;
    font-family: inherit;
    outline: none;
    font-size: 1rem;
    background-color: rgb(64, 81, 136);
    color: #fff;
    cursor: pointer;
}

form button:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

form button:hover {
    border-color: currentColor;
    color: rgb(64, 81, 136);
    background-color: #fff;
}

form button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgb(177, 175, 199);
}




/* -------Primary footer block------- */

.primary-footer {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background-image: url(images/vintage-wallpaper.png);
}

.primary-footer__content {
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 2rem;
}